body{
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  height:100%;
  background-color: white;
  /* background-image: url('https://www.simon-kucher.com/sites/default/files/styles/max_2600x2600/public/2020-09/Blockchain%20abstract%20image.jpg?itok=9dIHDTaj'); */
  /* background-image: linear-gradient(rgba(79,70,70,0.8),rgba(0,255,255,0.2)); */
  background-size: fill;
  flex-direction: column;
}



/* ================================================================================ */
/*                                  Containers                                */
/* ================================================================================ */



.Contain{

  flex-direction: row;
  display: flex;
  padding-top: 20px;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;

}


.container{
  /* background-image: linear-gradient(rgba(79,70,70,0.8),rgba(0,255,255,0.2)); */
  flex-direction: row;
  display: flex;
  padding-top: 20px;
}



.Holder{
  width: 600px;
  height: 200px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: whitesmoke;
}


.ChartHolder{
  width: 100%;
  height: 600px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;

  margin-top: 40px;
  background-color: white; 
  box-shadow: -10px -10px 12px rgba(70,70,70,0.07),
              10px 10px 12px rgba(255,255,255,0.8);

  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;

  
}

.ChartHolder #Charter{
  /* margin-left: 40px; */
}

.Card{
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  font-size: 20px;
  background-color: white; 
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 25px;
  box-shadow: -10px -10px 12px rgba(70,70,70,0.07),
              10px 10px 12px rgba(255,255,255,0.8);
  
  
}


/* ================================================================================ */
/*                                  Custom Buttons                              */
/* ================================================================================ */



.button1, .button2{
            
  color: rgba(70,70,70,0.9);
  width: 200px;
  height: 200px;
  border-radius: 200px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: monospace;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;


  background-color: white;
  border: none;
  box-shadow: -10px -10px 12px rgba(70,70,70,0.07),
              10px 10px 12px rgba(255,255,255,0.8);
  
  transition: all ease 0.5s;
}


.button1:hover{
  transform :scale(1.1);
  box-shadow: 7px 7px 7px inset(rgba(0,0,0,255));
  cursor: pointer;            
}

.button1:active{
  color:white;
  background-color: whitesmoke;
}


.button2{
  width: 80px;
  height: 80px;
  
  animation: MoveUpDown 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}


.button2:hover {
  background-color: rgba(70,70,70,0.9);
  color: royalblue;
  transition: all ease 0.5s;

}

 #one{
  animation-delay: 0s;
  transition: all ease 0.5s;


}
 #two{
  animation-delay: 0.2s;
  transition: all ease 0.5s;


}
 #three{
  animation-delay: 1.4s;
  transition: all ease 0.5s;


}
 #four{
  animation-delay: 3.6s;
  transition: all ease 0.5s;


}
 #five{
  animation-delay: 4.8s;
  transition: all ease 0.5s;


}




/* ================================================================================ */
/*                                  Inputs                               */
/* ================================================================================ */


input{
  color:black;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 50px;
  width: 400px;
  height: 50px;
  border: none;
  display: flex;
  font-family: monospace;
  box-shadow: -7px -7px 12px rgba(70,70,70,0.07),
                7px 7px 12px rgba(255,255,255,0.8);
  transition: all ease 0.5s;
  text-align: center;

}

.inputs{
  /* align-items: center;
  justify-content: center;
  height:400px;
  width : 400px;
  box-shadow: -7px -7px 12px rgba(70,70,70,0.07),
  7px 7px 12px rgba(255,255,255,0.8);
  
  /* flex-direction: column; */
  /* display: flex;
  transition: all ease 0.5s; */ 

  width: 800px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  font-size: 20px;
  background-color: white; 
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 25px;
  box-shadow: -10px -10px 12px rgba(70,70,70,0.07),
              10px 10px 12px rgba(255,255,255,0.8);
  

}



.Info{
  font-family: monospace;
  justify-content: center;
  align-items: center;
  font-size:25px;
  display: flex;
  width: auto;
  margin-top: 15px;
  margin-left: 15px;
  height: 55px;
  width: 55px;
  background-color: white;

  
  box-shadow: -7px -7px 12px rgba(70,70,70,0.07),
  7px 7px 12px rgba(255,255,255,0.8);

  /* border-radius: 15px; */
  padding-left: 5px;
  padding-right: 5px;
}




ResponsiveContainer{
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  display: flex;
  width:90%;
}


/* ================================================================================ */
/*                                  Loader Component                                */
/* ================================================================================ */


#loader {
  position: relative;

  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
  background-color: #404456;
}

#hill {
  position: relative;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: .25em solid black;
  transform: rotate(45deg);
}

#hill:after {
  content: '';
  position: relative;
  width: 7.1em;
  height: 7.1em;
  left: 0;
  background-color: #404456;
}

#box {
  position: relative;
  left: 0;
  bottom: -.4em;
  width: 4em;
  height: 4em;
  background-color: transparent;
  border: .25em solid black;
  border-radius: 15%;
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translate(0,-5em);
  }
  50% {
    transform: translate(0,5em);
  }
}